language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "iojs"
branches:
  only:
    - master
before_install: 
  - gem install compass
  - npm install -g bower
  - npm install -g grunt-cli
install: 
  - npm install
  - bower install
before_script: grunt build